@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/* Ship  */
/* Game board  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.modal {
  width: 600px;
  height: 600px;
  position: absolute;
  background-color: #222324;
  color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal button {
  width: 200px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
}

.container {
  width: 600px;
  height: 600px;
  background-color: #222324;
  position: relative;
  overflow: hidden;
}

.spaceShip {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 64px;
}

.spaceShip img {
  position: absolute;
  -webkit-animation: shipAnimation 0.4s infinite steps(8);
          animation: shipAnimation 0.4s infinite steps(8);
}

.lives {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 999;
}

.scores {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.missle {
  position: absolute;
}

.missle img {
  width: 16px;
  height: 32px;
}

.enemy {
  width: 64px;
  height: 64px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.enemy img {
  position: absolute;
  -webkit-animation: enemyAnimation 0.4s infinite steps(5);
          animation: enemyAnimation 0.4s infinite steps(5);
}

.enemy-big {
  width: 128px;
  height: 128px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.enemy-big img {
  position: absolute;
  -webkit-animation: enemyBigAnimation 0.5s infinite steps(8);
          animation: enemyBigAnimation 0.5s infinite steps(8);
}

.destroy {
  width: 64px;
  height: 64px;
  position: absolute;
  overflow: hidden;
}

.destroy img {
  -webkit-animation: destory 0.5s steps(17);
          animation: destory 0.5s steps(17);
}

.bigDestroy {
  width: 128px;
  height: 128px;
  position: absolute;
  overflow: hidden;
}

.bigDestroy img {
  -webkit-animation: bigDestroy 0.5s steps(17);
          animation: bigDestroy 0.5s steps(17);
}

@-webkit-keyframes shipAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-512px);
            transform: translateX(-512px);
  }
}

@keyframes shipAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-512px);
            transform: translateX(-512px);
  }
}

@-webkit-keyframes enemyAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
  }
}

@keyframes enemyAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
  }
}

@-webkit-keyframes enemyBigAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-1024px);
            transform: translateX(-1024px);
  }
}

@keyframes enemyBigAnimation {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-1024px);
            transform: translateX(-1024px);
  }
}

@-webkit-keyframes destory {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-1088px);
            transform: translateX(-1088px);
  }
}

@keyframes destory {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-1088px);
            transform: translateX(-1088px);
  }
}

@-webkit-keyframes bigDestroy {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-2176px);
            transform: translateX(-2176px);
  }
}

@keyframes bigDestroy {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-2176px);
            transform: translateX(-2176px);
  }
}
/*# sourceMappingURL=style.css.map */