@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap')
/* Ship  */
$shipSize: 64px 

/* Game board  */
$boardWidth: 600px
$boardHeight: 600px

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: 'Rubik', sans-serif
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  color: white

.modal
  width: $boardWidth
  height: $boardHeight
  position: absolute
  background-color: #222324
  color: white
  display: none
  flex-direction: column
  align-items: center
  justify-content: center
  button
    width: 200px
    margin-top: 30px
    padding: 20px
    border-radius: 20px
    font-size: 20px

.container
  width: $boardWidth
  height: $boardHeight
  background-color: #222324
  position: relative
  overflow: hidden

.spaceShip
  position: absolute
  overflow: hidden
  bottom: 0
  left: 0
  width: $shipSize
  height: $shipSize
  img
    position: absolute
    animation: shipAnimation .4s infinite steps(8)

.lives
  position: absolute
  left: 10px
  top: 10px
  z-index: 999

.scores
  position: absolute
  right: 10px
  top: 10px
  z-index: 999

.missle
  position: absolute
  img
    width: 16px
    height: 32px

.enemy
  width: 64px
  height: 64px
  overflow: hidden
  position: absolute
  bottom: 0
  left: 0
  z-index: 1
  img
    position: absolute
    animation: enemyAnimation .4s infinite steps(5)

.enemy-big
  width: 128px
  height: 128px
  overflow: hidden
  position: absolute
  bottom: 0
  left: 0
  img
    position: absolute
    animation: enemyBigAnimation .5s infinite steps(8)

.destroy
  width: 64px
  height: 64px
  position: absolute
  overflow: hidden
  img
    animation: destory .5s steps(17)

.bigDestroy
  width: 128px
  height: 128px
  position: absolute
  overflow: hidden
  img
    animation: bigDestroy .5s steps(17)

@keyframes shipAnimation
  0%
    transform: translateX(0px)
  100%
    transform: translateX(-512px)

@keyframes enemyAnimation
  0%
    transform: translateX(0px)
  100%
    transform: translateX(-320px)

@keyframes enemyBigAnimation
  0%
    transform: translateX(0px)
  100%
    transform: translateX(-1024px)

@keyframes destory
  0%
    transform: translateX(0px)

  100%
    transform: translateX(-1088px)

@keyframes bigDestroy
  0%
    transform: translateX(0px)

  100%
    transform: translateX(-2176px)
